{% extends "base.html" %}
{% block content %}

<a href={{path_to_back}}>
	<img src='{{url_for('static', filename='Close-button1.png')}}' height='40px' width='40px' align='right'>
</a>

<br>
<br>
<br>
<br>
<div id='frame1' style='width: 800px; border-style: solid; border-width: 2px; border-radius: 20px; border-color: #c0c0c0; box-shadow: 0 0 50px rgba(0,0,0,0.5); padding-left: 30px; padding-top: 20px; padding-bottom: 20px; padding-right: 20px;'>
	<h1>{{text}}</h1>
	<hr color='#a0a0a0' size='2px;'>
	<h2>Что делать?<br>
	{{todo}}</h2>
	<hr color='#a0a0a0' size='2px;'>
	<h3>
		Перечень всех возможных ошибок:<br>
		Ошибка №1: Пользователя с такой почтой или псевдонимом не существует. Возможно, что пароль указан не верно.<br>
		Ошибка №2: Не заполненно одно из полей.<br>
		Ошибка №3: Этот пользователь уже существует.<br>
		Ошибка №4: Почта введена некорректно.<br>
		Ошибка №5: Пароль должен быть больше 8 символов.<br>
		Ошибка №6: В псевдониме не должно быть пробелов.<br>
		Ошибка №7: В имени не должно быть пробелов.<br>
		Ошибка №8: В фамилии не должно быть пробелов.<br>
		Ошибка №9: В отчестве не должно быть пробелов.<br>
		Ошибка №10: Выберите группу.<br>
		Ошибка №11: Пользователь с таким псевдонимом уже существует.<br>
		Ошибка №12: Имя предмета не указано.<br>
		Ошибка №13: Имя предмета указанно не корректно.<br>
		Ошибка №14: Предмет уже создан.<br>
		Ошибка №15: Имя предмета не указано.<br>
		Ошибка №16: Группа не указана.<br>
		Ошибка №17: Группа указана не верно.<br>
		Ошибка №18: Группа уже прикрепленна.<br>
		Ошибка №19: Имя группы не указано.<br>
		Ошибка №20: Данных нет.<br>
		Ошибка №21: Преподаватель не выбран.<br>
		Ошибка №22: Название файла не введено.<br>
		Ошибка №23: Файл не выбран.<br>
		Ошибка №24: Название файла введено не корректно.
		Ошибка №25: Название файла не содержит расширение или оно не корректно.
		Ошибка №26: Название лабораторной не введено.<br>
		Ошибка №27: Такая лабораторная уже существует.<br>
		Ошибка №28: Имя лабораторной не должно содержать пробелы.<br>
		Ошибка №29: Укажите номер студента.<br>
	</h3>
</div>

{% endblock %}